
<nav class="w-full bg-zinc-800 flex flex-row justify-between items-center py-2 px-2">
    <div class="flex flex-row gap-8 justify-center items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968819.png" class="h-7 hover:scale-110 hover:translate-x-1 transition"/>
        <a href="" class="font-semibold text-white text-xl hover:text-violet-400">Siguiendo</a>
        <a href="" class="font-semibold text-white text-xl hover:text-violet-400">Explorar</a>
        <a href="" class="hover:bg-zinc-700 px-1 py-1 rounded-md">
            <svg width="20" height="20" viewBox="0 0 20 20" color="white"><path d="M10 18a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM8 4a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"></path></svg>
        </a>
    </div>

    <div class="flex flex-row rounded-md mr-4">
        <input class="rounded-md rounded-r-none bg-transparent border-solid border-zinc-500 border-[1px] px-2 py-2 w-[356px] h-[36px]" placeholder="Buscar"/>
        <button class="bg-zinc-600 rounded-e-md rounded-l-none px-1 py-1 h-[36px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
              </svg>
        </button>
    </div>

    <div class="flex flex-row gap-6 justify-center items-center">
        <button class="hover-bg-zinc-700 rounded-">
            <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" color="white" role="presentation"><path fill-rule="evenodd" d="M13.798 10.456 10 6.657l-3.798 3.799L4 8.805V13h12V8.805l-2.202 1.65zM18 5v8a2 2 0 0 1-2 2H4a2.002 2.002 0 0 1-2-2V5l4 3 4-4 4 4 4-3z" clip-rule="evenodd"></path></svg>
        </button>

        <button class="hover-bg-zinc-700 rounded-md">
            <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" color="white" role="presentation"><path fill-rule="evenodd" d="M13.798 10.456 10 6.657l-3.798 3.799L4 8.805V13h12V8.805l-2.202 1.65zM18 5v8a2 2 0 0 1-2 2H4a2.002 2.002 0 0 1-2-2V5l4 3 4-4 4 4 4-3z" clip-rule="evenodd"></path></svg>
        </button>

        <button class="hover-bg-zinc-700 rounded-md">
            <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" color="white" role="presentation"><path fill-rule="evenodd" d="M13.798 10.456 10 6.657l-3.798 3.799L4 8.805V13h12V8.805l-2.202 1.65zM18 5v8a2 2 0 0 1-2 2H4a2.002 2.002 0 0 1-2-2V5l4 3 4-4 4 4 4-3z" clip-rule="evenodd"></path></svg>
        </button>

        <button class="hover-bg-zinc-700 rounded-md">
            <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true" color="white" role="presentation"><path fill-rule="evenodd" d="M13.798 10.456 10 6.657l-3.798 3.799L4 8.805V13h12V8.805l-2.202 1.65zM18 5v8a2 2 0 0 1-2 2H4a2.002 2.002 0 0 1-2-2V5l4 3 4-4 4 4 4-3z" clip-rule="evenodd"></path></svg>
        </button>

        <button>
            <img class="rounded-full h-8" src="https://static-cdn.jtvnw.net/user-default-pictures-uv/75305d54-c7cc-40d1-bb9c-91fbe85943c7-profile_image-70x70.png"/>
        </button>
    </div>
</nav>